<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Face Detection Attendance</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <div class="container">
    <div class="overlay">
      <h1>WELCOME TO</h1>
      <h2>FACE DETECTION ATTENDANCE SYSTEM</h2>
      <!-- Use Flask route for navigation -->
      <button class="start-button" onclick="location.href='/features'">Start Attendance System</button>
    </div>
  </div>
</body>
</html>
